.tooltip {
    width: 668px;

    &-padding {
        padding: 1rem;
    }

    &-container {
        position: relative;
        border: 1px solid #e0e0e0;
        border-radius: 0 0 8px 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        width: 100%;
        margin-top: -1px; 
    }

    &-header {
        color: white;
        background: linear-gradient(to left, #1765CC, #6700A3);
        padding: 1rem;
        border-radius: 8px 8px 0 0;
        width: 100%;

        &--title {
            font-size: 20px;
        }

        &--info {
            font-size: 14px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        padding: 1rem;

        &--title {
            color: #6700A3;
            padding-bottom: 1rem;
            font-size: 20px;
        }

        &--recommended-date {
            display: flex;

            &--img {
                width: 24px;
            }
            
            &__depart {
                border: 1px solid #e0e0e0e7;
                display: flex;
                border-radius: 2px;
                width: 202px;
            }
            &__return {
                border: 1px solid #e0e0e0e7;
                border-radius: 5px;
                width: 202px;
                display: flex;
            }
        
            &--text {
                color: #3C4043;
                padding-left: 4px;
            }

            &--arrows {
                color: #3868FA;
                margin-left: auto;
                padding-right: 8px;
            }
        }

        &--time {
            min-width: 200px;
            color: black;
            font-weight: bold;
            display: inline-flex;
            justify-content: space-between;
            border: 1px solid #e0e0e0e7;
            border-radius: 5px;
            padding: 4px 8px;
            white-space: nowrap;
            padding-inline: 1rem;
            max-height: 32px;
            align-items: center;
            > :nth-child(2) {
                font-size: x-small;
                position: relative;
            }
            img {
               width: 10px;
            }

            &__text {
                font-size: 12px;
            }

            &__price {
                color: #202124;
            }
        }

        &--ETA{
            p{
                text-align: center;
                color: #70757A;
            }
        }

        &--route{
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;
            p{
                color: #3868FA;
                text-decoration: underline;
            }
        }

        &--price{
            text-align: right;
            > *:first-child {
                font-weight: bold;
            }
            > *:nth-child(2){
                color: #70757A;
            } 
        }

        &--savings--text {
            color: #202124;
        }
    }

    &__typo--delta{
        color: #70757A;
        font-size: small;
    }

    &__button{
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        > *:first-child{
            background-color: #6700A3;
            color: white;
            padding: 0.5rem 3rem;
            border-radius: 20px;
        }
    }

    &__seeMore{
        color: #1765CC;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        padding-bottom: 2rem;

        &--text {
            color: #202124;
        }
    }

    &__footer{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 2rem;

        &--text {
            color: #202124;
            font-size: 14px;
        }
    }
    
}

h3{
    padding: 1rem;
}

.underlining-header {
    text-decoration: underline;
    text-align: right;
    font-size: 12px;
}

// search box

.search {

    &-container {
        display: flex;
        align-items: center;
        margin: 20px 0;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 8px 12px;
        background-color: rgb(244, 244, 244);
    }
  
    &-input {
        flex: 1;
        border: none;
        outline: none;
        padding: 8px;
        font-size: 14px;
        background-color: rgb(244, 244, 244);
    }
  
    &-icon {
        width: 20px;
        height: 20px;
        fill: #666;
        cursor: pointer;
    
        &:hover {
        fill: #333;
        }
    }
}