
.FB-suggestion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    padding-bottom: 2rem;    

&__subheader {
    color: #3612A0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.00625rem;
}

&__subtitle {
    color: #3612A0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.01875rem;
    margin: 0;
}

&__hotel-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;

        &--continue {
        display: flex;
        width: 6rem;
        height: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        color: #3868FA;
        text-align: center;
        line-height: var(--Label-Large-Line-Height, 1.25rem); /* 142.857% */
        letter-spacing: var(--Label-Large-Tracking, 0.00625rem);
        }
}

&__hotel-item{
    display: flex;
    width: 11rem;
    flex-direction: column;
    align-items: flex-start;

    &--image {
        height: 5.5625rem;
        align-self: stretch;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        background: lightgray 50% / cover no-repeat;
    }

    &--bubble {
        display: flex;
        padding: 0.75rem;
        gap: 0.75rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
        border: 1px solid var(--color-grey-87, #DADCE0);
    }

    &--name {
        align-self: stretch;
        color: #000;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
        white-space: nowrap; 
        text-align: left;
    }

    &--details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    &--rating {
        display: flex;
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 0.3125rem;

        &--star{
            width: 1rem;
            height: 1rem;
        }

        &--number {
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem; /* 133.333% */
            letter-spacing: 0.01875rem;
            margin: 0;
            padding: 0;
        }
    }

    &--pricing {
        text-align: right;
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 0.75rem; /* 120% */
        letter-spacing: 0.01875rem;
        margin: 0;

        &--amount {
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem; /* 133.333% */
            letter-spacing: 0.01875rem;
        }
    }
}

}

.google-img {
    margin-top: 24px; 
    display: flex;
    justify-content: center; 

    &--screenshot {
        width: 100%; 
        max-width: 910px;
    }
}