// FlightBuddyComponent.scss
.FB-intro {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #F3E5FF, #E6F7FF);
    padding: 25px;
    padding-bottom: 40px;
    border-radius: 8px;
    width: 65vw;
    justify-content: space-between;
    position: relative;

  
    &__content {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      align-items: flex-start;
      padding-top: 10px;
    }
  
    &__icon {
      flex-shrink: 0;
      margin-right: 12px;
      padding-top: 3em;
  
      img {
        width: 40px;
        height: 40px;
      }
    }
  
    &__text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 20vw;
  
      &--heading {
        font-size: 16px;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        text-align: left;
      }
  
      &--description {
        font-size: 14px;
        margin: 8px 0 0;
        justify-content: flex-start;
        text-align: left;
        line-height: 1.35rem;
      }

      &--highlight {
        color: #3612A0;
        font-weight: bold;
        display: inline;
        flex: none;
      }
    }
  
    &__features {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 37vw;
        margin-top: 40px;
    }


    &__subheading {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 8px;
        color: #3612A0;
        text-align: left;
      }
  
      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
  
        &-item {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
  
          img {
            flex-shrink: 0;
            margin-right: 8px;
            width: 16px;
            height: 16px;
          }
  
          font-size: 14px;
        }
      }
      &__privacy-link {
        display: block;
        position: absolute;
        right: 25px;
        bottom: 25px;
        font-size: 0.85rem;
        color: #1A73E8;
        text-decoration: none;
      }
  }
  