.homepage {
    width: 992px;
    height: 156px;
    border-radius: 8px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 1px 3px 0px rgba(60, 64, 67, 0.30), 0px 4px 8px 3px rgba(60, 64, 67, 0.15);
    margin: 0 auto;

    &--dropdown {
        display: flex;

        &__round-trip {
            display: flex;

            &--text {
                font-size: 14px;
            }
        }

        &__passengers {
            display: flex;

            &--text {
                font-size: 14px;
            }
        }

        &__economy {
            display: flex;

            &--text {
                font-size: 14px;
            }
        }
    }

    &--selection {
        display: flex;
        gap: 8px;

        &__box-1 {
            
            &--depart-city {
                height: 50px;
                width: 240px;
                border: 1px solid #DADCE0;
                border-radius: 4px;
            }

            &--return-city {
                height: 50px;
                width: 240px;
                border: 1px solid #DADCE0;
                border-radius: 4px;
            }
        }

        &__box-2 {
            display: flex;
            
            &--depart-date {
                width: 180px;
                height: 50px;
                border: 1px solid #DADCE0;
                border-radius: 4px;
            }

            &--return-date {
                width: 180px;
                height: 50px;
                border: 1px solid #DADCE0;
                border-radius: 4px;
            }
        }
    }

    &--buttons {
        display: flex;
    }

}