@use '../../styles/partials/global' as *;

.underlining-aTag {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}

.curatedIntinerary{
    > *:first-child {
        color: $fb-purple;
        font-weight: bold;
    }
    > *:nth-child(3) {
        padding-bottom: 1rem;
    }
    > *:nth-child(4){
        font-weight: bold ;
    }
}

.hotelPicker__body--title{
    padding-top: 2rem;
    color: $fb-purple;
    font-weight: bold;
}

.toolTipHotel__title {
    padding-left: 0;
    color: white;
}

.itineraryList {
    list-style-position: inside;
    padding-left: 1rem;
    margin: 0;
    
    li {
        padding-left: 1.5rem;
        text-indent: -1.5rem;
        // margin-bottom: 0.75rem;
        // line-height: 1.4;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    padding-bottom: 1rem;
}

.tooltip-hotel {

    &-padding {
        width: 867px;
        margin: auto;
        margin-bottom: 50px;
    }

    &-container {
        padding: 14px;
        border: 1px solid #e0e0e0;
    }
}
